<!DOCTYPE html>

<html lang="en">
    <head>
        <title>About Abdiel</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/static11/wilson/about.css" rel="stylesheet">
        <link href="/static1/wilson/styles.css" rel="stylesheet">
        <link href="/static1/wilson/index.css" rel="stylesheet">
        <link href="/static1/wilson/contact.css" rel="stylesheet">
        <script src="./static/donut.js"></script>

        <link href="./static/styles.css" rel="stylesheet">
        <link href="./static/donut.css" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inspiration&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="sec0">
            <div class="parent">
                <!-- Nav -->
                <div class="child1">
                    <div class="sym"><img src="static/log.png"></div>
                    <h6 class="ab">Abdiel</h6>
                    <p class="ptag">Web Developer</p>
                </div>
                <a href="about.html">
                <div class="child2">

                     About

                </div></a>
                <a href="/contact.html">
                <div class="child2">
                    Contact
                </div></a>
                <a href="about.html">
                <div class="child2">
                    Skills
                </div></a>
                <a href="https://github.com/Wilsonabdiel">
                <div class="child2">
                   Projects
                </div></a>
                <a href="blog.html">
                <div class="child2">
                    Blog
                </div> </a>

                <div class="child3">
                    <img class="imgclass" src="static/linked.png">
                    <img class="imgclass" src="static/git.png">
                    <img class="imgclass" src="static/youtube.png">
                    <img class="imgclass" src="static/mail.png">
                    <!-- Add animations below -->
                 </div>
            </div>
            
          
        </div>
        <div class="mainpage">
                <!-- Main Greeting -->
                <br>
                <h1> ABOUT ME </h1>
                <br>
                <div>I'm a full stack engineer with hands on experience with python web frameworks like Django and Flask. And static1 frameworkslike Hugo.
                    I build compelling UIs and make user expereince the top of my priorities.
                     I'm also have experience with Artificial Intelligence.
                     I'm a goal driven individual and an amazing team player, I'm ready to work with anyone in any type of 
                     situation so long as I care for and love your project which I usually do if it's something that adds value to
                     our world.
                </div>
                <hr>
                <br>
                    <p class="pss">Hit the button bellow to tell me what you would like  me to help you with, Thank You!</p>
                     <div class="btndiv">
               <button type="button" class="btn btn-primary mybtn "> <a href="{%url 'contact'%}" class="but"> Let's have a chat</a></button> 
                    
                     </div> 
                     <!-- <hr>
                    {% comment %} <img src="../../static1/wilson/download.jpeg"  class="abt">  {% endcomment %} -->
                    <!-- <img src="/static1/wilson/ppp.jpg"  class="abt">  -->
                    <!-- {% load static1 %} -->
                  <!-- <div class="myImg">  <img class="aboutjpg" src="{% static1 'wilson/ppp.jpg' %}"> </div> -->
            </div>
        </section>
      
   
    </body>
</html>