body {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  }
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.49em;
    --top-offset: 66.28vh;
    --fall-duration: 6.063s;
    --fall-delay: 9.958s;
  }
  .star:nth-child(2) {
    --star-tail-length: 6.59em;
    --top-offset: 91.77vh;
    --fall-duration: 10.564s;
    --fall-delay: 2.777s;
  }
  .star:nth-child(3) {
    --star-tail-length: 7.3em;
    --top-offset: 18.57vh;
    --fall-duration: 6.411s;
    --fall-delay: 0.202s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.01em;
    --top-offset: 73.85vh;
    --fall-duration: 8.591s;
    --fall-delay: 1.91s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.3em;
    --top-offset: 72.31vh;
    --fall-duration: 7.148s;
    --fall-delay: 7.399s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.96em;
    --top-offset: 88.38vh;
    --fall-duration: 6.232s;
    --fall-delay: 7.357s;
  }
  .star:nth-child(7) {
    --star-tail-length: 5.86em;
    --top-offset: 87.39vh;
    --fall-duration: 7.111s;
    --fall-delay: 7.723s;
  }
  .star:nth-child(8) {
    --star-tail-length: 6.44em;
    --top-offset: 0.67vh;
    --fall-duration: 11.952s;
    --fall-delay: 6.489s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.87em;
    --top-offset: 23.08vh;
    --fall-duration: 7.553s;
    --fall-delay: 5.438s;
  }
  .star:nth-child(10) {
    --star-tail-length: 6.63em;
    --top-offset: 67.96vh;
    --fall-duration: 11.94s;
    --fall-delay: 2.181s;
  }
  .star:nth-child(11) {
    --star-tail-length: 7.01em;
    --top-offset: 19.18vh;
    --fall-duration: 7.25s;
    --fall-delay: 3.439s;
  }
  .star:nth-child(12) {
    --star-tail-length: 5.03em;
    --top-offset: 97.8vh;
    --fall-duration: 8.619s;
    --fall-delay: 6.291s;
  }
  .star:nth-child(13) {
    --star-tail-length: 5.13em;
    --top-offset: 89.01vh;
    --fall-duration: 8.932s;
    --fall-delay: 8.143s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.49em;
    --top-offset: 39.65vh;
    --fall-duration: 11.903s;
    --fall-delay: 9.37s;
  }
  .star:nth-child(15) {
    --star-tail-length: 5.05em;
    --top-offset: 32.67vh;
    --fall-duration: 11.5s;
    --fall-delay: 8.742s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.57em;
    --top-offset: 20.33vh;
    --fall-duration: 6.692s;
    --fall-delay: 7.573s;
  }
  .star:nth-child(17) {
    --star-tail-length: 6.74em;
    --top-offset: 59.24vh;
    --fall-duration: 8.914s;
    --fall-delay: 1.109s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.92em;
    --top-offset: 14.59vh;
    --fall-duration: 6.064s;
    --fall-delay: 4.969s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.74em;
    --top-offset: 54.53vh;
    --fall-duration: 11.121s;
    --fall-delay: 5.429s;
  }
  .star:nth-child(20) {
    --star-tail-length: 5.48em;
    --top-offset: 52.36vh;
    --fall-duration: 9.887s;
    --fall-delay: 9.552s;
  }
  .star:nth-child(21) {
    --star-tail-length: 7.44em;
    --top-offset: 79vh;
    --fall-duration: 6.786s;
    --fall-delay: 3.454s;
  }
  .star:nth-child(22) {
    --star-tail-length: 6.08em;
    --top-offset: 69.11vh;
    --fall-duration: 10.212s;
    --fall-delay: 4.73s;
  }
  .star:nth-child(23) {
    --star-tail-length: 6.38em;
    --top-offset: 35.56vh;
    --fall-duration: 7.072s;
    --fall-delay: 5.934s;
  }
  .star:nth-child(24) {
    --star-tail-length: 5.71em;
    --top-offset: 53.78vh;
    --fall-duration: 6.729s;
    --fall-delay: 9.24s;
  }
  .star:nth-child(25) {
    --star-tail-length: 6.48em;
    --top-offset: 23.87vh;
    --fall-duration: 8.427s;
    --fall-delay: 7.062s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.93em;
    --top-offset: 42.92vh;
    --fall-duration: 8.854s;
    --fall-delay: 5.584s;
  }
  .star:nth-child(27) {
    --star-tail-length: 6.82em;
    --top-offset: 12.15vh;
    --fall-duration: 11.314s;
    --fall-delay: 2.23s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.54em;
    --top-offset: 87.88vh;
    --fall-duration: 11.471s;
    --fall-delay: 2.237s;
  }
  .star:nth-child(29) {
    --star-tail-length: 5.77em;
    --top-offset: 26.44vh;
    --fall-duration: 9.809s;
    --fall-delay: 8.548s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.25em;
    --top-offset: 74.41vh;
    --fall-duration: 11.85s;
    --fall-delay: 0.269s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.66em;
    --top-offset: 22.32vh;
    --fall-duration: 9.296s;
    --fall-delay: 1.816s;
  }
  .star:nth-child(32) {
    --star-tail-length: 7.44em;
    --top-offset: 83.33vh;
    --fall-duration: 11.004s;
    --fall-delay: 9.903s;
  }
  .star:nth-child(33) {
    --star-tail-length: 7.43em;
    --top-offset: 37.55vh;
    --fall-duration: 11.371s;
    --fall-delay: 0.564s;
  }
  .star:nth-child(34) {
    --star-tail-length: 5.94em;
    --top-offset: 15.41vh;
    --fall-duration: 8.77s;
    --fall-delay: 8.885s;
  }
  .star:nth-child(35) {
    --star-tail-length: 5.09em;
    --top-offset: 41.83vh;
    --fall-duration: 10.557s;
    --fall-delay: 2.376s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.73em;
    --top-offset: 10.89vh;
    --fall-duration: 6.047s;
    --fall-delay: 9.941s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.76em;
    --top-offset: 8.77vh;
    --fall-duration: 10.49s;
    --fall-delay: 1.58s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.03em;
    --top-offset: 76.97vh;
    --fall-duration: 11.974s;
    --fall-delay: 2.822s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5.19em;
    --top-offset: 93.18vh;
    --fall-duration: 11.488s;
    --fall-delay: 2.358s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.26em;
    --top-offset: 3.48vh;
    --fall-duration: 8.69s;
    --fall-delay: 0.537s;
  }
  .star:nth-child(41) {
    --star-tail-length: 5.56em;
    --top-offset: 51.62vh;
    --fall-duration: 7.291s;
    --fall-delay: 8.821s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.37em;
    --top-offset: 80.36vh;
    --fall-duration: 8.983s;
    --fall-delay: 6.903s;
  }
  .star:nth-child(43) {
    --star-tail-length: 7.36em;
    --top-offset: 71.33vh;
    --fall-duration: 11.783s;
    --fall-delay: 5.806s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.46em;
    --top-offset: 4.02vh;
    --fall-duration: 10.28s;
    --fall-delay: 8.587s;
  }
  .star:nth-child(45) {
    --star-tail-length: 5.18em;
    --top-offset: 43.46vh;
    --fall-duration: 6.593s;
    --fall-delay: 2.348s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.29em;
    --top-offset: 42.62vh;
    --fall-duration: 7.273s;
    --fall-delay: 5.95s;
  }
  .star:nth-child(47) {
    --star-tail-length: 5.92em;
    --top-offset: 25.94vh;
    --fall-duration: 11.024s;
    --fall-delay: 7.031s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.09em;
    --top-offset: 53.36vh;
    --fall-duration: 7.958s;
    --fall-delay: 3.437s;
  }
  .star:nth-child(49) {
    --star-tail-length: 7.01em;
    --top-offset: 70.53vh;
    --fall-duration: 10.949s;
    --fall-delay: 3.804s;
  }
  .star:nth-child(50) {
    --star-tail-length: 7.24em;
    --top-offset: 21.79vh;
    --fall-duration: 9.296s;
    --fall-delay: 7.853s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }