{% extends "wilson/layout.html" %}

{% block title %}
    Landing Page
{% endblock %}

{% block body %}

    <br>
    <br>
    
    <div class="there">
       
        <h1 >Hi There!</h1>
    </div>
    <br>
   <h3 class="welcome">Welcome to my page!</h3>
   <br><br>
  
    <p class="center">Hello I'm   <strong>  Abdiel Wilson  </strong>  </p>
    <br>
    <p  class="center2"> A Full Stack Web developer proficient in: </p>
 <div class="mydiv">
   
        <div  >C</div>
        <div >HTML</div>
        <div >CSS</div>
        <div >PYTHON</div>
        <div >JAVASCRIPT</div>
        <div >SQL</div>
        <div >FLASK</div>
        <div>DJANGO</div>
    </div>
    <img src="static/wilson/samp.jpg">


{% endblock %}