body{
    background-color: #afb3b0;
}
h1{
    display: flex;
    flex-direction: center;
    justify-content: center;
}
.abt{
    width: 500px;
    
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-self: center;
}
.pss{
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.but{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items:center ;
    align-self: center;

}