{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Abdiel</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- <link href="{% static 'wilson/styles.css' %}" rel="stylesheet">
        <link href="{% static 'wilson/index.css' %}" rel="stylesheet">
        <link href="{% static 'wilson/about.css' %}" rel="stylesheet">
        <link href="{% static 'wilson/contact.css' %}" rel="stylesheet">
     -->
    </head>
    <body>
        <nav class="navbar navbar-dark bg-transparent "  >
            
            <!-- Navbar content -->
            <a href="#"class= "numLink">
            <div class="nam" >
                
                <span class="black">W</span>
                <span class="gray">I</span>
                <span class="black">L</span>
                <span class="gray">S</span>
                <span class="black">O</span>
                <span class="black">N</span>
              
            </div>
        </a>
            <a href="{% url 'index' %}">Home</a>
            <a href="https://github.com/Wilsonabdiel">Project Gallery</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{%url 'about'%}">About</a>
            <a href="{%url 'about'%}">Blog</a>
        
            
          </nav>
        {% block body %}

                
    </body>
</html>